@model IEnumerable<BattleFight.Models.Torneo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoNumerico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremioDolar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaEnfrentar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioResponsable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoNumerico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremioDolar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaEnfrentar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioResponsable)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
